.section-padding{
    background-color: #fae2e6;
    
}

h2{
    color: #d16579;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5%;
}

h3, h4{
    color: #d16579;
    font-weight: bold;
    margin-right: 0;
}

.descricao{
    color: #d16579;
    font-weight: bold;
    margin-right: 0;
    
}

small{
    margin-right: 0;
}

.col-left{
    height: auto;    
    background-color: rgb(219, 1, 183);
}

.col-right{
    height: auto;    
    background-color: rgb(219, 1, 183);
}

.img-fluid {
    width: 350px;
    height: 220px;
    box-shadow: 5px 5px 10px #1b1b1b;
    border-radius: 10px;
}

.img-fluid:hover{
    scale: 1.2;
    transition: .8s;
    filter: saturate(130%);
}

.input-numero{
    width: 150px;
    margin: 0 auto;
}

.nav, .navbar{
    background-color: #e28a9a;
}

.navbar a{
    color: beige;
    font-weight: bold;
}

.navbar-toggler-icon{
    color: beige;
}

.navbar-expand-lg .nav-link{
    color: beige;
    font-weight: bold;
}

.nav a:hover{
    color: #fff;
    
}

.btn-success{
    background-color: #b64c60;
    border: 1px solid #b64c60;
}

.btn-success:hover{
    background-color: #a32b41;
    border: 1px solid #a32b41;
}

.cor-span{
    color: #181717;
    font-weight: bold;
    margin-right: 0;
}

.span-menu-tag{
    background-color: #6b3619;
    color: #fff;
    font-weight: bold;
    
}

.social-icon{
    color: #aaa;
}

.site-footer{
    background-color: #3a1908;
}

.btn-secondary{
    background-color: #050505;
}

.btn-secondary:hover{
    background-color: #050505;
}

.imagem-logo{
    display: block;
    margin: auto;
    margin-top: -90px;
    padding-bottom: 6%;
    width: 280px;
    height: 350px;
}

input[type="text"] {
  border: 2px solid #b14a5d;
}

#myDropdown, #myDropdown2 {
  border: 1px solid #b14a5d;
}

#categoria{
    font-weight: bold;
}